@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --clr-grey-1: #102a42;
  --clr-white: #fff;
  --very-light-blue: rgb(119, 212, 252);
  --rex-bold-font: "ALK Rex Bold", sans-serif;
  --max-width: 1222px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--clr-white);
  font-family: var(--rex-bold-font);
  font-size: 0.875rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.section-x {
  padding: 0 15px;
}

.section-center {
  max-width: var(--max-width);
  margin: 0 auto;
}
