@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --clr-grey-1: #102a42;
  --clr-white: #fff;
  --very-light-blue: rgb(119, 212, 252);
  --main-font: "BPG Arial Caps", sans-serif;
  --max-width: 1222px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--clr-white);
  font-family: var(--main-font);
  font-size: 0.875rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  color: #808080;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.section-x {
  padding: 0 15px;
}

.section-center {
  max-width: var(--max-width);
  margin: 0 auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
table {
  table-layout: fixed;
  width: 100%;
}
table td {
  padding: 15px 12px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
  font-weight: inherit;
}
table th {
  padding: 15px 10px;
  border: none;
  border-bottom: 2px solid #efefef;
  color: #2d2a2a;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  table td {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
    text-align: left;
  }
}
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
